<!-- admin/商品新規登録ページ -->

<div class="container">
  <div clas="row">
    <h2>商品新規登録</h2>
    
    <%= form_with model: @item do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th>商品画像</th>
            <td><%= f.file_field :profile_image, accept: "image/*", class: "form-control-file user-image" %></td>  
          </div>
        </tr>
        
        <tr>
          <div class="form-group">
            <th>商品名</th>
            <td><%= f.text_field :name, autofocus: true, id:"name", class: 'form-control name' %></td>
          </div>
        </tr>
  
        <tr>
          <div class="form-group">
            <th>商品説明</th>
            <td><%= f.text_area :introduction, id:"introduction", class: 'form-control introduction' %></td>
          </div>
        </tr>
        
        <tr>
          <th>ジャンル</th>
          <td>
            <%= form_with model: @genre do |f| %>
              <%= f.select :faculty, [["ケーキ", 1], ["クッキー", "2"], ["ねりけし", "3"]], include_blank: "-- 選択して下さい --" %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <div class="form-group">
            <th>税抜価格</th>
            <td><%= f.number_field :price, id:"price", class: 'form-control price' %><span>円</span></%></td>
          </div>
        </tr>
        
        <tr>
          <th>販売ステータス</th>
          <td>
            <!-- Q.form_withのmodel: ？　販売できるか→item？ -->
            <%= form_with model: @item do |f| %>
              <%= f.radio_button :is_active, value: true %>
              <%= f.label :is_active, "販売中", {value: :true, style: "display: inline-block;"} %>
              <%= f.radio_button :is_active, value: false %>
              <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
            <% end %>
          </td>
        </tr>
      </table>
      
      <div class="form-group">
        <%= f.submit "新規登録", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>