<!-- admin/cutomers/showページ -->

<div class="container">
  <div class="row">
    <h2 class="col-md-3 bg-light text-center my-4">商品詳細</h2>
  </div>

  <div class="row">
    <div class="col-md-10 mx-auto d-flex">
      <div class="col-md-4">
        <!-- 画像を上下中央揃えにしたい -->
        <%= image_tag @item.get_item_image(100, 100), class: 'd-flex align-items-center justify-content-center img-fluid w-100' %>
      </div>
      <div class="col-md-8">
        <table class="table table-borderless">
          <div>
            <tr>
              <th>商品名</th>
              <td><%= @item.name %></td>
            </tr>
          </div>

          <tr class="my-2">
            <th>商品説明</th>
            <td><%= @item.introduction %></td>
          </tr>

          <tr>
            <th>ジャンル</th>
            <td><%= @item.genre.name %></td>
          </tr>

          <tr>
            <th>税込価格<br>(税抜価格)</th>
            <td><%= @item.with_tax_price %><span> (</span><%= @item.price %><span>)</span><spann> 円</spann></%></td>
          </tr>

          <tr>
            <th>販売ステータス</th>
            <td><%= item_status_name(@item) %></td>
          </tr>

        </table>
      </div>
    </div>

  </div>

  <div class="col-md-3 mx-auto text-center btn-lg mt-2">
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>
  </div>
</div>
