<!-- admin/customer/editページ -->

<div class="container">
  <div clas="row">
    <h2><span><%= @customer.first_name %></span><span><%= @customer.last_name %></span>会員詳細</h2>
    <%= form_with model: @customer, url: admin_customer_path(@customer.id) ,  method: :update do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>氏名</th>
            <td>
              <%= f.text_field :last_name, autofocus: true, class: 'form-control last_name' %>
              <%= f.text_field :first_name, autofocus: true, class: 'form-control first_name' %>
            </td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>フリガナ</th>
            <td>
              <%= f.text_field :last_name_kana, autofocus: true, class: 'form-control last_name_kana' %>
              <%= f.text_field :first_name_kana, autofocus: true, class: 'form-control first_name_kana' %>
            </td>
          </div>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td><%= f.number_field :postal_code, class: 'form-control postal_code' %></td>
        </tr>

        <tr>
          <div class="form-group">
            <th>住所</th>
            <td><%= f.text_field :address, class: 'form-control address' %></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>電話番号</th>
            <td><%= f.number_field :telephone_number, class: 'form-control telephone_number' %></%></td>
          </div>
        </tr>

        <tr>
          <div class="form-group">
            <th>メールアドレス</th>
            <td><%= f.text_field :email, class: 'form-control email' %></td>
          </div>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <td>
            <%= form_with model: @customer do |f| %>
              <%= f.radio_button :is_deleted, false %>
              <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;"} %>
              <%= f.radio_button :is_deleted, true %>
              <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
            <% end %>
          </td>
        </tr>
      </table>

      <div class="form-group">
        <%= f.submit "変更を保存", class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>
