<!-- admin/customer/showページ -->


<div class="container">
  <div class="row">
    <h3 class="col-md-6 bg-light text-center my-3"><span><%= @customer.last_name %></span><span><%= @customer.first_name %></span><span>さんの</span>会員詳細</h3>
  </div>

  <div class="row">
    <div class="col-md-10 my-3">
      <table class="table table-borderless">
        <tr>
          <th class="col-md-3">会員ID</th>
          <td class="col-md-9"><%= @customer.id %></td>
        </tr>

        <tr>
          <th>氏名</th>
          <td><%= @customer.last_name %><span> </span><%= @customer.first_name %></td>
        </tr>

        <tr>
          <th>フリガナ</th>
          <td><%= @customer.last_name_kana %><span> </span><%= @customer.first_name_kana %></td>
        </tr>

        <tr>
          <th>郵便番号</th>
          <td><%= @customer.postal_code %></td>
        </tr>

        <tr>
          <th>住所</th>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <th>電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>

        <tr>
          <th>会員ステータス</th>
          <td>
            <% if @customer.is_deleted == true %>
              退会中
            <% else %>
              有効
            <% end %>
          </td>
        </tr>

      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 mx-auto my-3 d-flex">
      <div>
        <%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-sm btn-success mr-5" %>
      </div>
      <div>
        <!-- ↓ 未実装（必須実装ページではないため） ↓ -->
        <%#= link_to "注文履歴一覧を見る", admin_homes_top_path, class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  </div>
</div>
