<h3>新規会員登録</h3>

<div class="container">
  <div class="row">
    <div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>
        <table class="field">
          <tr>
            <th>名前</th>
          </tr>
          <tr>
            <td><label>(姓)</label><%= f.text_field :last_name, autofocus: true %></td>
            <td><label>(名)</label><%= f.text_field :first_name %></td>
          </tr>

          <tr>
            <th>フリガナ</th>
          </tr>
          <tr>
            <td><label>(セイ)</label><%= f.text_field :last_name_kana %></td>
            <td><label>(メイ)</label><%= f.text_field :first_name_kana %></td>
          </tr>

          <tr>
            <th>メールアドレス</th>
          </tr>
          <tr>
            <td><%= f.email_field :email, autocomplete: "email" %></td>
          </tr>

          <tr>
            <th>郵便番号（ハイフンなし）</th>
          </tr>
          <tr>
            <td><%= f.number_field :postal_code %></td>
          </tr>

          <tr>
            <th>パスワード（6文字以上）</th>
          </tr>
          <tr>
            <td>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </td>
          </tr>

          <tr>
            <th>パスワード（確認用）</th>
          </tr>
          <tr>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
          </tr>

          <div class="actions">
            <td><%= f.submit "新規登録" %></td>
          </div>
        </table>
      <% end %>
    </div>
  </div>
</div>

<div>
  <h3>既に登録済の方</h3>
  <p><%= link_to "こちら", new_customer_session_path %> からログインしてください</p>
</div>

<%= render "public/shared/error_messages", resource: resource %>
