<!-- customer/order/new 注文情報入力 -->

<div class="container">
  <div class="row">
    <h4 class="col-md-3 text-center bg-light my-4">注文情報入力</h4>
  </div>

  <div class="row">
    <div class="col-md-10">
      <%= form_with model: @order, url: orders_confirm_path, local: true do |f|  %>
        <div class="mb-3">
          <span class="font-weight-bold">支払方法</span>
          <div class="d-flex flex-column ml-4">
            <div>
              <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
              <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
            </div>
            <div>
              <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
              <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <span class="font-weight-bold">お届け先</span>
          <div class="col-md-12 d-flex flex-column ml-4">
            <!-- ご自身の住所 -->
            <div>
              <%= f.radio_button :select_address, 0 %>ご自身の住所
            </div>
            <div class="ml-3 mb-3">
              <!-- ↓ address -> address_displayにまとめたい　↓ -->
              <span>〒</span><%= current_customer.postal_code %>
              <%= current_customer.address %><br>
              <%= current_customer.last_name %>
              <%= current_customer.first_name %>
            </div>
            <!-- 登録先住所から選択 -->
            <%#= f.radio_button :select_address, 1 %>
            <%#= f.label "登録済住所から選択" %>
            <%#= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>

            <!-- 新しいお届け先 -->
            <div>
              <%= f.radio_button :select_address, 2 %><label>新しいお届け先</label>
            </div>
            <div class="col-md-10 ml-3">
              <table border="0", class="table-borderles">
                <tr>
                  <div class="form-group">
                    <th class="">
                      <label>郵便番号（ハイフンなし）</label>
                    </th>
                    <td><%= f.number_field :postal_code, class: 'form-control col-md-7' %></td>
                  </div>
                </tr>

                <tr>
                  <div class="form-group">
                    <th>住所</th>
                    <td><%= f.text_field :address, class: 'form-control col-md-12' %></td>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <th>宛名</th>
                    <td><%= f.text_field :name, class: 'form-control col-md-7' %></td>
                  </div>
                </tr>
              </table>
            </div>

          </div>
        </div>

        <div class="form-group col-md-3 mx-auto">
          <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
