<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <table>
    <h3>会員の方はこちらからログイン</h3>
    <tr class="field">
      <th><%= f.label "メールアドレス" %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>

    <tr class="foeld">
      <th><%= f.label "パスワード" %></th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>

    <div class="actions">
      <td><%= f.submit "ログイン" %></td>
    </div>
  </table>
<% end %>

<div>
  <h3>会員登録がお済みでない方</h3>
  <p><%= link_to "こちら", new_customer_registration_path %> からログインしてください</p>
</div>

<%= render "public/shared/links" %>
